[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
pytest = "*"
chromedriver-py = "==106.0.5249.61"
webdriver-manager = "*"
psycopg2-binary = "2.9.5"
m3u8 = "*"
boto3 = "*"
validators = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
